{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<main class="flex-1 max-w-5xl mx-auto px-6 py-10">
    <section class="about-intro">
        <h1>{{ title }}</h1>
        <p>Développeuse Symfony, passionné par le GreenTech et le web performant. J'aime créer des applications rapides, accessibles et respectueuses de l’environnement numérique.</p>
    </section>
</main>
{% endblock %}
