{% extends 'base.html.twig' %}

{% block title %}Modifier la tâche : {{ task.title }}{% endblock %}

{% block body %}
    <section class="main-content-wrapper">
        <h1 class="page-title">✍️ Modifier la tâche</h1>
        <article class="bg-white p-6 rounded-lg shadow-xl">  
            {{ include('task/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            <footer class="flex justify-between items-center mt-6 pt-4 border-t border-gray-200">
                <a href="{{ path('app_task_list_show', {'id': task.taskList.id}) }}" class="btn-base btn-light text-gray-700 hover:text-green-700">
                    ⬅️ Retour à la liste
                </a>
                {{ include('task/_delete_form.html.twig') }}
            </footer>
        </article>
    </section>
{% endblock %}