<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mes Hobbies</title>
</head>
<body>
    <h1>Mes Hobbies</h1>
    <ul>
        {% for hobby in hobbies %}
            <li>{{ hobby }}</li>
        {% endfor %}
    </ul>
</body>
<html>